<h1>
	<%= @entry.title %>
</h1>

<p>
	<%= @entry.description %>
</p>

<p>
	Added By: <%= image_tag @entry.user.gravatar_url, width: 150 %>
</p>

<a href="<%= @entry.url %>" target="_blank">GitHub Page</a>