<address>
  <strong>George K MacRorie</strong><br>
  <a href="mailto:gmacr31@gmail.com">gmacr31@gmail.com</a><br>
  <a href="http://github.com/GeorgeMac" target="_blank">GitHub Page</a><br>
  <a href="https://twitter.com/GeorgeMacR" target="_blank">@GeorgeMacR</a>
</address>