<div class="span12">
	<div class="row">
		<div class="span12">
			<div class="hero-unit">

				<h1>Go<-Seek</h1>

				<p>Making Golang more discoverable!</p>
				
			</div>
		</div>
	</div>

	<div class="row">
	    <div class="thumbnail span4 offset8">
	        <%= image_tag "gopher.jpg" %>
	    </div>
		<div class="span6">
			<p>
				Lorem ipsum dolor sit amet, movet adipiscing et eos, an vim purto nulla accumsan. Duo dolorum singulis an, te timeam tincidunt nec. Nec te decore menandri interesset, verear nominavi dissentiunt sea an. Has an iudico scaevola patrioque, at vocibus dissentiunt nam, no eum electram posidonium. Te ludus posidonium ius, cum te intellegam delicatissimi.

		        Per deserunt platonem efficiantur an. Sit alterum sententiae reformidans ea. Mea an dicant commodo eligendi, liber perpetua an vim. Reque possim urbanitas at nam, at pro nibh argumentum. An vel euismod partiendo, at ius dicat quaestio mnesarchum, noluisse quaestio referrentur mei te.

		        Duis nonumes constituto te mea, ex eum habeo epicurei democritum, mel veniam noster ut. Sed in movet voluptaria. Fastidii constituto quaerendum cum et, hinc rebum timeam sit ei, sea veniam deserunt an. Propriae menandri eu mei, deleniti delectus cu quo.

		        Falli debitis aliquando cum in, nam ut nostro molestie. Ex mea ferri magna nihil. At eam enim repudiandae. Eam eu accusam quaestio, quo graeci blandit te.

		        Ad vim dicit tempor blandit, pro minim feugait singulis eu. Usu fierent appareat accommodare te, te nam delenit vocibus, vix at nusquam mandamus assueverit. Legere euismod dolores ei eum, ne nulla nonumy percipit his. Tale partem oportere eu mea, idque reformidans ad est. Ea eam ferri aliquip splendide, vis cu enim quidam persius, conceptam assueverit duo eu. Purto mediocrem consectetuer ex mel.
			</p>
	    </div>
	</div>
</div>
